* {
  margin: 0;
  padding: 0;
  border: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font: inherit;
  vertical-align: baseline;
}

article,
aside,
details,
figcaption,
figure,
footer,
hgroup,
menu,
section {
  display: block;
}

html {
  height: 100%;
}

body {
  line-height: 1;
  height: 100vh;
  overflow-x: hidden;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

html {
  font-size: 62.5%;
  font-family: 'Helvetica Neue', sans-serif;
}

:root {
  --color-primary: #1A808D;
  --color-secondary:#7DBAC2;
  --color-white: #ffffff;
  --color-black: rgb(41, 41, 41);
  --color-grey-0: #D9D9D9;
  --color-grey-1: #a3a8a4;
  --color-grey-2: #b2becd;
  --color-grey-3: #d8dee6;
  --color-grey-4: #454e56;
  --color-grey-5: #2a2e35;
  --color-grey-6: #12181b;
  --br-sm-2: 14px;
  --box-shadow-1: 0 3px 15px rgba(63, 62, 62, 0.849);
}

.root {
  font-size: 2rem;
  min-height: 100vh;
  min-width: 60rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: var(--color-grey-0);
}

.root .navi {
  position: relative;
  min-height: 8.7rem;
  min-width: 57rem;
  background-color: var(--color-primary);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.root .navi .logoCon {
  text-align: center;
  font-size: 1.5rem;
  font-weight: bold;
  background-color: var(--color-grey-0);
  height: 7rem;
  width: 8rem;
}

.root .navi .searchForm {
  border-radius: 8px;
  background-color: var(--color-white);
}

.root .navi .searchForm button {
  font-size: 1.8rem;
  margin-right: .5rem;
  background-color: var(--color-white);
}

.root .navi .searchForm #searchIn {
  background-color: var(--color-white);
  text-align: center;
  border-radius: 8px;
}

.root .navi .searchForm #searchIn:focus {
  outline: none;
}

.root .navi .btnCon {
  height: 3rem;
  width: 15rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.root .navi .btnCon button {
  opacity: .7;
  background-color: var(--color-grey-0);
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.root .navi .btnCon button.active {
  opacity: 1;
}

.root .main {
  min-width: 57rem;
  background-color: var(--color-white);
  -webkit-box-flex: 9;
      -ms-flex-positive: 9;
          flex-grow: 9;
  -webkit-box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
          box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  margin: 2rem 2rem;
}

.root .main .main-sec-1 {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  margin: 2rem;
}

.root .main .main-sec-1 .ms1-left {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  justify-items: center;
}

.root .main .main-sec-1 .ms1-left .weatherIcon {
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1/ 2;
  height: 10rem;
  -o-object-fit: cover;
     object-fit: cover;
  justify-self: flex-end;
}

.root .main .main-sec-1 .ms1-left .locationCon {
  font-size: 1.7rem;
}

.root .main .main-sec-1 .ms1-left .locationCon .cityName {
  font-size: 3.5rem;
}

.root .main .main-sec-1 .ms1-right {
  display: -ms-grid;
  display: grid;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  background-color: var(--color-grey-0);
  padding: 1.5rem;
}

.root .main .main-sec-1 .ms1-right .statsCon > h2 {
  border-bottom: 1px solid black;
}

.root .main .main-sec-1 .ms1-right .temp {
  font-weight: bold;
  font-size: 5rem;
}

.root .main .main-sec-1 .ms1-right .weather {
  font-size: 1.7rem;
}

.root .main .main-sec-2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 1.5rem;
}

.root .main .main-sec-2 > h1 {
  font-weight: bold;
  padding-left: 2.5rem;
}

.root .main .main-sec-2 .forecastContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.root .main .main-sec-2 [class^='forecastCard'] {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  border-right: 1px solid black;
}

.root .main .main-sec-2 .forecastCard-5 {
  border-right: none;
}

.root .main .main-sec-2 [class^='high'] {
  font-size: 2.7rem;
  padding-left: 1rem;
}

.root .main .main-sec-2 [class^='low'] {
  font-size: 1.5rem;
}

.root .footerContainer {
  -webkit-box-flex: .05;
      -ms-flex-positive: .05;
          flex-grow: .05;
  background-color: var(--color-primary);
  color: var(--color-white);
  width: 100%;
}

.root .footerContainer .footerContent {
  font-size: 1.8rem;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 1rem;
  padding: .7rem;
}

.root .footerContainer .footerContent .fa-github {
  color: var(--color-white);
  -webkit-transition: -webkit-transform 0.3s ease-in-out;
  transition: -webkit-transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
}

.root .footerContainer .footerContent .fa-github:hover {
  -webkit-transform: rotate(360deg) scale(1.2);
          transform: rotate(360deg) scale(1.2);
}
/*# sourceMappingURL=style.css.map */